<!DOCTYPE html>
<!-- Define the document type as HTML5 -->
<html lang="en">
  <!-- Beginning of the HTML structure with language set to English. -->
  <head>
    <!-- Head section contains meta information and links to stylesheets -->

    <meta charset="UTF-8" />
    <!-- Character encoding is set to UTF-8 for compatibility and universal character rendering. -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Viewport meta tag to ensure the site is optimized and responsive on mobile devices. -->

    <title>Yelp Camp</title>
    <!-- The title that appears on the browser's tab when this webpage is accessed. -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Link to the Bootstrap CSS library. Bootstrap is a popular CSS framework that aids in website responsiveness and styling. The 'integrity' attribute offers a layer of security to ensure the content hasn't been tampered with. -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      crossorigin="anonymous"
    />
    <!-- Link to Bootstrap's icon library. Provides a variety of icons for use throughout the site. -->
  </head>

  <body class="d-flex flex-column vh-100">
    <!-- Body starts here. The class attributes ensure a flex layout, aligning items in a column and taking up full viewport height. -->

    <%- include('../partials/navbar') %>
    <!-- Include the navigation bar partial. This provides consistent navigation across the website. -->

    <main class="container my-5">
      <!-- Main content wrapper. "container" class centers the content, and "my-5" provides vertical margins for spacing. -->

      <%- include('../partials/flash') %>
      <!-- Include the flash messages partial. Useful for displaying temporary notifications, such as errors or success messages. -->

      <%- body %>
      <!-- This is where the main body of individual pages will be inserted. It's a placeholder that gets replaced by the content of the page that uses this boilerplate. -->
    </main>

    <%- include('../partials/footer') %>
    <!-- Include the footer partial, which contains consistent footer information across pages. -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- Link to Bootstrap's JavaScript bundle. This provides functionality for Bootstrap components like modals, tooltips, and more. -->

    <script src="/javascripts/validateForms.js"></script>
    <!-- Link to a custom JavaScript file, likely used for form validation throughout the site. -->
  </body>
  <!-- End of the body section and the webpage's visible content. -->
</html>
<!-- End of the HTML structure. -->
